:root {
  --dark-gray: #363537;
  --gray: #5e5e5e;
  --blue-dark-gray: #545f66;
  --blue-gray: #6f7d82;
  --mint: #d0f4ea;
  --aqua: #84fab0;
  --light-blue: #acb6e5;

  --light-green: #e8fcc2;
  --green: #b1cc74;
  --olive: #9cb380;

  --vanilla: #d4e09b;
  --dark_vanilla: #d7bd80;
  --yellow: #f6d365;
  --light-orange: #fda085;
  --red: #f56464;

  --white: #f5f5f5;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100dvw;
  min-height: 100vh;
  background-color: var(--dark-gray);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--white);
}

#root {
  width: 100dvw;
  min-height: 100vh;
}

h3 {
  font-size: 1.3rem;
  color: var(--white);
  text-shadow: #eee 1px px 10px;
}

.header {
  width: 100dvw;
  height: 50px;
  flex-shrink: 0;
}

.main {
  width: 100dvw;
  min-height: 85vh; 
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media (max-width: 1040px) {
  .main {
    padding: 40px 0;
  }
}

.footer {
  width: 100dvw;
  height: 55px;
  flex-shrink: 0;
}

.calculator-container {
  max-width: 400px;
  min-width: 300px;
  width: 50%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 1rem;
  overflow: visible;
  background: linear-gradient(to right, #13b37f 0%, #11a3c8 100%);
  position: relative;
  z-index: 1;
  border: 4px solid transparent;
  background: conic-gradient(var(--aqua), var(--light-blue), var(--mint), var(--blue-gray), var(--aqua)) border-box;
}

.calculator-container::after {
  position: absolute;
  content: "";
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  filter: blur(30.5px);
  transform: scale(.97);
  background: conic-gradient(var(--aqua), var(--light-blue), var(--mint), var(--blue-gray));
  transition: opacity 0.5s;
}

.calculator-div {
  background: #1f1a1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  position: relative;
  z-index: 2;
}

.calculator-screen {
  width: 80%;
  height: 20%;
  background-color: var(--white);
  color: black;
  border: 5px solid #b7b7b7b6;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 35px;
  overflow: hidden;
}

.calculator-screen > * {
  margin: 20px;
}

.calculator-keys {
  width: 80%;
  height: 65%;
  position: relative;
}

.top-keys {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right-keys {
  width: 30%;
  height: 80%;
  position: absolute;
  top: 20%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.variables-keys {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.variables-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 90%;
}

.operation-button, .variable-button {
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
}

.operation-button {
  width: 40px;
  height: 40px;
  background-color: var(--mint);
  border: 3.3px solid #95b0a8bd;
  color: black;
  font-weight: 1000;
}

.variable-button {
  width: 35px;
  height: 45px;
  flex-grow: 1;
  flex-basis: 0; 
  aspect-ratio: 1; 
  background-color: var(--light-blue);
  border: 3.3px solid #6d7492c6;
  font-weight: 1000;
}

.input-output-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 20px;
}

.add-variable-section {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.variables-list {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.variables-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.hide {
  display: none;
}

.disabled.AC, .disabled.C, [class~="\("], .disabled.¬ {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}

[class~="\)"] {
  position: relative;
  width: 30px;
  aspect-ratio: 1/1;
}

.close-parentheses-count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light-blue);
}

.selector-mode {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.mode-selector {
  display: flex;
  gap: 10px;
  align-items: center;
}

.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}
 
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
 
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 0.5em;
  box-shadow: 0 0.2em #dfd9d9;
}
 
.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  border-radius: 0.3em;
  left: 0.3em;
  bottom: 0.7em;
  background-color: var(--light-orange);
  transition: 0.4s;
  box-shadow: 0 0.4em #bcb4b4;
}
 
.slider:hover::before {
  box-shadow: 0 0.2em #bcb4b4;
  bottom: 0.5em;
}
 
input:checked+.slider:before {
  transform: translateX(2em);
  background: var(--green);
}

.input {
  height: 40px;
  line-height: 28px;
  border: 5px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--vanilla);
  background-color: #fff;
  box-shadow: 0 0 0 8px #d4e09b3c;
}

.variable-name, .variable-value {
  height: 25px;
  font-size: 1.2rem;
  color: var(--dark-gray)
}

.variable-name {
  width: 23px;
  text-align: center;
}

.variable-value {
  width: 150px;
}

.animated-button {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button.green span:last-child {
  background-color: var(--green);
}

.animated-button.green:hover {
  box-shadow: 0 0 0 5px #9cb38080;
  color: #ffffff;
}

.animated-button.red span:last-child {
  background-color: var(--red);
}

.animated-button.red:hover {
  box-shadow: 0 0 0 5px #f5646486;
  color: #ffffff;
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button.delete-button {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}

.delete-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}

.delete-button svg {
  width: 44%;
}

.delete-button:hover {
  background-color: var(--red);
  overflow: visible;
}

.bin {
  pointer-events: none;
}

.bin path {
  transition: all 0.2s;
}

.delete-button:hover .bin path {
  fill: #fff;
}

.delete-button.delete-button {
  transform: scale(0.98);
}

.tooltip {
  position: absolute;
  top: -40px;
  background-color: var(--blue-gray);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 6px 12px;
  font-weight: 600;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}

.tooltip::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  background-color: var(--blue-gray);
  bottom: -10%;
}

.delete-button:hover .tooltip {
  opacity: 1;
}

.card {
  width: 600px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #74ebd5;
  background: linear-gradient(to right, var(--aqua) 0%, var(--light-blue) 100%);
  position: relative;
  z-index: 1;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
}

.card::before {
  background: linear-gradient(to bottom right, var(--yellow) 0%, var(--light-orange) 100%);
  transform: rotate(2deg);
}

.card::after {
  background: linear-gradient(to top right, var(--aqua) 0%, var(--light-blue) 100%);
  transform: rotate(-2deg);
}

.card-info {
  background: #292b2c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  position: relative;
  z-index: 2;
}

.card .title {
  font-weight: bold;
  letter-spacing: 0.1em;
}

td {
  border: 2px solid white;
  padding: 7px;
  text-align: center;
  font-weight: 1000;
}

th {
  background-color: var(--blue-gray);
  border: 2px solid white;
  padding: 8px;
}

.green-cell {
  background-color: var(--green);
}

.orange-cell {
  background-color: var(--light-orange);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 30px;
}

 